@charset "utf-8";
/*头部start*/
#head{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    background: white;
    padding: .1rem .1rem .1rem .15rem;
    display: flex;
    justify-content: space-between;
}
#head>div:first-child{
    width: .25rem;
    height: .37rem;
    background: url("../images/pre.png") no-repeat left .075rem;
    background-size: .22rem .22rem;
}
#head>div:nth-child(2){
    height:.37rem;
    line-height: .37rem;
    font-size:.19rem;
    font-family:Adobe Heiti Std R;
    color:rgba(38,25,21,1);
}
/*logo*/
.about_logo{
    padding: .2rem 0;
    text-align: center;
}
.about_logo img{
    width: .6rem;
    height: .6rem;
    vertical-align: middle;
}
.about_logo div{
    margin-top: .1rem;
    font-size: .13rem;
    font-family:PingFangSC-Regular;
    color:rgba(45,158,255,1);
}
/*主体内容*/
#content{
    background: #f6f6f6;
    padding-top: .57rem;
}
/*手机号*/
.car_info{
    margin-top: .1rem;
    background: white;
    padding-left: .1rem;
}
.car_info .car_num{
    display: flex;
    justify-content: flex-start;
    padding: .1rem 0;
    border-bottom: .01rem solid #e3e3e3;
}
.car_info .car_num .car_left{
    width: .31rem;
    height: .35rem;
    background: url("../images/mobeils.png") no-repeat .02rem .07rem;
    background-size: .155rem .22rem;
}
.car_info .car_num .car_in{
    flex: 1;
    height: .35rem;
    line-height: .35rem;
}
.car_info .car_num .car_in input{
    width: 95%;
    height: .32rem;
    line-height: .32rem;
    font-size: .15rem;
    font-family:PingFangSC-Regular;
    color: black;
    border: 0 none;
    padding-right: .1rem;
    padding-top: .02rem;
}
　  input::-webkit-input-placeholder{
        color:rgba(223,223,223,1);
    　　}
　　 input:-moz-placeholder{
        color:rgba(223,223,223,1);
    　　}
　　 input::-moz-placeholder{
        color:rgba(223,223,223,1);
    　　}
    input:-ms-input-placeholder{
        color:rgba(223,223,223,1);
    　　}
.car_info .car_nums{
    display: flex;
    justify-content: flex-start;
    padding: .1rem .12rem .1rem 0;
}
.car_info .car_nums .car_left{
    width: .32rem;
    height: .35rem;
    background: url("../images/code (1).png") no-repeat left .08rem;
    background-size: .21rem .21rem;
}
.car_info .car_nums .car_in{
    flex: 1;
}
.car_info .car_nums .car_in input{
    width: 95%;
    height: .35rem;
    line-height: .35rem;
    font-size: .15rem;
    font-family:PingFangSC-Regular;
    color: black;
    border: 0 none;
    padding-right: .1rem;
}
.car_info .car_nums .car_code{
    height: .35rem;
    line-height:.35rem;
    width: 27%;
    font-size: .15rem;
    font-family:Adobe Heiti Std R;
    color:rgba(45,158,255,1);
    text-align: center;
}



/*login_pact*/
.login_pact{
    padding: .1rem;
    display: flex;
    justify-content: flex-start;
    background: white;
    margin-top: .1rem;
}
.login_pact>div:first-child{
    width: .32rem;
    height: .35rem;
    background: url("../images/tel5.png") no-repeat left .06rem;
    background-size: .21rem .21rem;
}
.login_pact>div:last-child input{
    width: 100%;
    height: .35rem;
    line-height: .35rem;
    font-size: .15rem;
    font-family:PingFangSC-Regular;
    color: black;
    border: 0 none;
    padding-right: .1rem;
}






/*sure_add*/
.sure_add{
    width: 85%;
    margin: .4rem auto 0;
    height: .5rem;
    line-height: .5rem;
    background: #2D9EFF;
    border-radius: .3rem;
    text-align: center;
    font-size: .18rem;
    font-family:Adobe Heiti Std R;
    color:rgba(255,255,255,1);
    box-shadow: 0 .01rem .01rem #add5f7,
    0 .015rem .02rem #bbdbf7,
    0 .02rem .03rem #deebf6,
    0 .03rem .035rem #e9f1f6;
}

























