@charset "utf-8";
/*头部start*/
#head{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    background: white;
    padding: .1rem .1rem .1rem .15rem;
    display: flex;
    justify-content: space-between;
}
#head>div:first-child{
    width: .25rem;
    height: .37rem;
    background: url("../images/pre.png") no-repeat left .075rem;
    background-size: .22rem .22rem;
}
#head>div:nth-child(2){
    height:.37rem;
    line-height: .37rem;
    font-size:.19rem;
    font-family:Adobe Heiti Std R;
    color:rgba(38,25,21,1);
}

/*主体内容*/
#content{
    background: #f6f6f6;
    padding-top: .57rem;
}

/*　  input::-webkit-input-placeholder{*/
        /*color:rgba(223,223,223,1);*/
    /*　　}*/
/*　　 input:-moz-placeholder{*/
        /*color:rgba(223,223,223,1);*/
    /*　　}*/
/*　　 input::-moz-placeholder{*/
        /*color:rgba(223,223,223,1);*/
    /*　　}*/
    /*input:-ms-input-placeholder{*/
        /*color:rgba(223,223,223,1);*/
    /*　　}*/

.info_box{
    background: white;
    padding: .1rem;
    border-bottom: .01rem solid #e3e3e3;
    display: flex;
    justify-content: space-between;
}
.info_box.last{
    border-bottom: 0;
}
.info_box.one{
    margin-top: .1rem;
}
.info_box .info_left{
    height: .37rem;
    line-height: .37rem;
    font-size: .15rem;
    font-family:PingFangSC-Regular;
    color:rgba(52,52,52,1);
}
.info_box .info_right{
    height: .37rem;
    line-height: .37rem;
    flex: 1;
    display: flex;
    justify-content: flex-end;

}
.info_box.one .info_right>div:first-child{
    width: .37rem;
    height: .37rem;
    border-radius: 50%;
    position: relative;
    background: url("../images/timg.jpg") no-repeat left top;
    background-size: .37rem .37rem;
    margin-right: .1rem;
}
.info_box .info_right>div:first-child{
    height: .37rem;
    line-height: .37rem;
    position: relative;
    margin-right: .1rem;
    font-size: .15rem;
    font-family:PingFangSC-Regular;
    color:rgba(174,174,174,1);
}
.info_box.one .info_right>div:first-child input{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: .37rem;
    height: .37rem;
    border-radius: 50%;
    z-index: 10;
    /*background: url("../images/timg.jpg") no-repeat left top;*/
    /*background-size: .37rem .37rem;*/
    /*font-size: 100px;*/
    opacity: 0;
}
.info_box.one .info_right>div:first-child img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: .37rem;
    height: .37rem;
    border-radius: 50%;
}
.info_box .info_right>div:last-child{
    width: .2rem;
    height: .37rem;
    background: url("../images/next.png") no-repeat left .11rem;
    background-size: .12rem .15rem;
}






/*back_login*/
.back_login{
    margin: .3rem 0;
    padding: .15rem 0;
    text-align: center;
     background: white;
    font-size: .15rem;
    font-family:PingFangSC-Regular;
    color:rgba(255,102,107,1);
}










