@charset "utf-8";


#content{
    background: #fff;
    padding: .46rem .1rem .73rem .1rem;
}
    /*head*/
#head{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    padding: .1rem 0;
    text-align: center;
    font-size:.19rem;
    font-family:Adobe Heiti Std R;
    color:rgba(38,25,21,1);
    background: white;
    border-bottom: .01rem solid #e3e3e3;
}
    /*主体内容*/

/*一张图片*/
.news_box{
    display: flex;
    justify-content: space-between;
    border-bottom: .01rem solid  #e3e3e3;
    padding: .1rem 0;
}
.news_box .news_left{
    width: 35%;
    height: .75rem;
    margin-right: .15rem;
}
.news_box .news_left img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.news_box .news_right{
    height: .75rem;
    position: relative;
    flex: 1;
}
.news_box .news_right .news_title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: .15rem;
    font-family:PingFangSC-Medium;
    color:rgba(59,59,59,1);
}
.news_box .news_right .news_look{
    position: absolute;
    left: 0;
    bottom: .05rem;
    display: flex;
    justify-content: flex-start;
}
.news_box .news_right .news_look>div{
    font-size: .12rem;
    font-family:PingFangSC-Regular;
    color:rgba(174,174,174,1);
}
.news_box .news_right .news_look>div:first-child{
    margin-right: .2rem;
}

    /*无图片*/
.news_{
    position: relative;
    padding: .1rem 0;
    border-bottom: .01rem solid  #e3e3e3;
}
.news_ .news_title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: .15rem;
    font-family:PingFangSC-Medium;
    color:rgba(59,59,59,1);
}
.news_ .news_look{
    margin-top: .15rem;
    display: flex;
    justify-content: flex-start;
}
.news_ .news_look>div{
    font-size: .12rem;
    font-family:PingFangSC-Regular;
    color:rgba(174,174,174,1);
}
.news_ .news_look>div:first-child{
    margin-right: .2rem;
}
    /*三张图片*/

.news_show{
    padding: .1rem 0;
    border-bottom: .01rem solid  #e3e3e3;
}
.news_show .news_title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: .15rem;
    font-family:PingFangSC-Medium;
    color:rgba(59,59,59,1);
}
.news_show .img_show{
    display: flex;
    justify-content: space-between;
}
.news_show .img_show>div{
    width: 31%;
    height: .75rem;
    padding: .1rem 0;
}
.news_show .img_show>div img{
    width: 100%;
    height: .75rem;
    vertical-align: middle;
}
.news_show .news_look{
    margin-top: .05rem;
    display: flex;
    justify-content: flex-start;
}
.news_show .news_look>div{
    font-size: .12rem;
    font-family:PingFangSC-Regular;
    color:rgba(174,174,174,1);
}
.news_show .news_look>div:first-child{
    margin-right: .2rem;
}





























    /*foot*/
#foot_nav a:nth-child(3)>div:first-child{
    background: url("../images/foot3 (2).png") no-repeat left top;
    background-size: .26rem .26rem;
}